$sidebar-width: 72px;
$sidebar-color: #e9ebed;

.neeto-ui-sidebar__logo {
  background-color: transparent;
}

.neeto-ui-sidebar {
  height: 90vh;
}

.collapse-btn {
  min-height: 10vh;
  background-color: $sidebar-color;
}
